:root {
    --white-color: #FFFFFF;
    --blue-color: #4d5ae5;
    --grey-color: #2e2f42;
    --light-color: #F4F4FD;
    --purple-color: #404bbf;
    --dark-grey: #434455;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1128px;
    padding: 0 15px;
    margin: 0 auto;
}

.page-header>.container {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
}




body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--dark-grey);
    background-color: var(--white-color);
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.page-nav {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--blue-color);
    text-decoration: none;
    margin-right: 76px;

}

.logo-dark {
    color: var(--grey-color);
}

.logo-light {
    color: var(--light-color);

}

.logo:hover {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 18px;
    line-height: 1.18;
    color: var(--blue-color);
    text-decoration: none;
}


.link {
    text-decoration: none;
}


.list {
    list-style: none;
}

.menu {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
    color: var(--grey-color);
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    padding: 0;
    margin: 0;
}

.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--grey-color);
}

.menu-link:hover {
    color: var(--purple-color);
}

.menu-link:focus {
    color: var(--purple-color);
}

.menu-link:active {
    color: var(--blue-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
}

.contacts {
    font-style: normal;
}

.contacts>.list {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

.contact-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-grey);
}

.contact-link:hover {
    color: var(--purple-color);
}

.contact-link:focus {
    color: var(--purple-color);
}



.hero {
    background: var(--grey-color);
}

.hero>.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-title {
    color: var(--white-color);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: center;
    margin-top: 188px;
    margin-bottom: 48px;
}

.hero-button {
    cursor: pointer;
    color: var(--white-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    padding: 16px 32px;
    gap: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin-bottom: 188px;

}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--purple-color);
}

.hero-button:active {
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.18;
    color: var(--white-color);
    background-color: var(--purple-color);
}

.features {
    display: flex;
    flex-direction: row;
}

.features ul {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.features-title {
    color: var(--grey-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    margin-top: 120px;

}

.features-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--dark-grey);
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 0;
}

.duties-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--grey-color);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-top: 120px;
    margin-bottom: 72px;
}

.duties {
    display: flex;
    flex-direction: row;
    margin-top: 72px;
    margin-bottom: 120px;
    gap: 24px;
}

.duties-img {
    width: 360px;
    height: 300px;
}

.team {
    background-color: var(--light-color);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--grey-color);
    margin-top: 120px;
}

.member {
    background-color: var(--white-color);
}

.member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--grey-color);
}

.member-job {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark-grey);
}

.footer-style {
    background-color: var(--grey-color);
    ;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--blue-color);
}

.logo-light {
    color: var(--light-color);
}

.text-footer {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-color);
}

.filters-item {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--blue-color);
    background-color: var(--light-color);
    cursor: pointer;
}

.filters-item:hover,
.filters-item:active {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--white-color);
    background-color: var(--purple-color);
    cursor: pointer;
    ;
}

.filters-item:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--white-color);
    background-color: var(--purple-color);
    cursor: pointer;
    ;
}

.project-card {
    background: var(--white-color);
    border: 1px solid #E7E9FC;
}

.card-content {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--grey-color);
    letter-spacing: 0.02em;
}

.card-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--dark-grey);
    letter-spacing: 0.02em;
}